<div class="backgroundlanding" style="background-image: url('<%= image_path 'girl-showing-an-ok-sign.jpg' %>');">
  <div class="logo">

      <%= image_tag 'logo.png'%>


  </div>
  <br/>

<div style="width: 40vw; margin:auto;">
  <div class="boxform column-form">
    <h2>
Merci <%= @prospectt.first_name %> !
    </h2>

  </div>
</div>

